<div cdkDropListGroup>
  <div class="example-container">
    <h3>Students</h3>

    <div
      cdkDropList
      id="all-students"
      [cdkDropListData]="studentInput"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="getConnectedList()">
      <div class="example-box" *ngFor="let item of studentInput" cdkDrag>{{item.name}}</div>
    </div>
  </div>
  <div *ngFor="let cr of classroomInput; let i = index">
    <div class="example-container">
      <h3>{{cr.classroomName}} | {{cr.instructorName}}</h3>

      <div
        cdkDropList
        id={{cr.id}}
        [cdkDropListData]="cr.students!"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="getConnectedList()">
        <div class="example-box" *ngFor="let item of cr.students" cdkDrag>{{item.name}}</div>
      </div>
    </div>
  </div>
</div>
