html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #000;
    min-width: 650px;
}

.container {
    margin: 5px auto 10px;
    width: 612px;
    padding: 10px;
}

.sa-container {
    display: flex;
    flex-direction: column;
}

.sa-container > * {
    width: 100%
}

mat-form-field {
    width: 100%;
}

.form-row {
    margin-bottom: 5px;
}

.submit-button {
    margin: 0 0 15px;
}

.submit-response {
    margin-left: 10px;
}